@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');

body {
    background: url(images/bg-desktop.svg) no-repeat center;
    background-size: cover;
    background-color:  hsl(257, 40%, 49%);
    padding: 50px 50px;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

#logo {
    padding-top: 30px;
    padding-bottom: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}

.social {
    float: right;
    color: #fff;
    position: relative;
    top: 130px;
}

.fa-facebook {  
    padding: 13px 13px;
    border: 2px solid;
    border-radius: 50%;
    margin: 5px 5px;
    
}

 .fa-twitter {
    padding: 13px 13px;
    border: 2px solid;
    border-radius: 50%;
    margin: 5px 5px;
}

.fa-instagram {
    padding: 13px 13px;
    border: 2px solid;
    border-radius: 50%;
    margin: 5px 5px;
}

.myButton {
	box-shadow: 5px 5px 10px rgb(29, 28, 28);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:42px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:rgb(172, 27, 216);
	font-family:Arial;
	font-size:15px;
	padding:13px 47px;
	text-decoration:none;
    text-shadow:0px 0px 0px #000;
    
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
